node_modules/
.env
storage/uploads/*
!storage/uploads/.gitkeep
storage/backups/*
!storage/backups/.gitkeep
storage/tangkapan/
storage/cypress/
storage/server.log
storage/*.db
storage/*.db-journal
storage/*.db-wal
storage/*.db-shm
coverage/
cypress/videos/
cypress/screenshots/
*.log
.DS_Store
Thumbs.db
